.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  box-shadow: -2px 6px 15px -6px rgba(0, 0, 0, 0.1);
}

.header__logo {
  margin-left: 80px;
  height: 100px;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header__logo > a {
  text-decoration: none;
  color: black;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 295px;
  padding: 2px;
  height: 42px;
  border: 1px solid lightgrey;
  border-radius: 999px;
}

.header__center {
  position: relative;
}

.header__center > button {
  width: 95%;
  margin: 0 auto;
}

.header__center > button > span {
  display: flex !important;
}

.header__center > button > span > svg {
  margin-left: auto !important;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 16vw; */
  margin-right: 80px;
}

.header__right > a {
  margin-left: 12px;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.header__right > p {
  margin-left: 12px;
  cursor: pointer;
  color: black;
  transition: color 0.2s;
}

.header__right > p:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.header__right > a:hover {
  color: var(--color-accent);
}

.header__search {
  display: flex;
  flex-direction: column;
}

.header__search-btn {
  background-color: white !important;
  text-transform: inherit !important;
  color: var(--color-accent) !important;
  font-weight: 900 !important;
}

.header__right > div {
  margin-left: 12px;
}
